Load the libaries & Data

In [11]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
np.set_printoptions(suppress=True)

all_data=pd.read_csv('opp.csv')
all_data=all_data.drop(['case','site','Pop','sex'],axis=1)
all_data.head()

,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0

In [12]:
all_data=all_data.dropna()
temp_df=all_data.copy(deep=True)
temp_df['hdlngth_2']=temp_df['hdlngth']**2
temp_df['skullw_2']=temp_df['skullw']**2
temp_df['totlngth_2']=temp_df['totlngth']**2
temp_df['taill_2']=temp_df['taill']**2
temp_df['footlgth_2']=temp_df['footlgth']**2
temp_df['earconch_2']=temp_df['earconch']**2
temp_df['eye_2']=temp_df['eye']**2
temp_df['chest_2']=temp_df['chest']**2
temp_df['belly_2']=temp_df['belly']**2

In [13]:
Y=all_data['age']
X=all_data.drop(['age'],axis=1)
model=LinearRegression().fit(X,Y)
all_data['preds']=np.round(model.predict(X))

In [14]:
Y=temp_df['age']
X=temp_df.drop(['age'],axis=1)
model=LinearRegression().fit(X,Y)
all_data['new_preds']=np.round(model.predict(X))
all_data=all_data[['age','preds','new_preds']]
all_data.head(15)

    age  preds  new_preds
0   8.0    5.0        5.0
1   6.0    4.0        5.0
2   6.0    4.0        5.0
3   6.0    4.0        5.0
4   2.0    4.0        4.0
5   1.0    4.0        4.0
6   2.0    5.0        4.0
7   6.0    4.0        4.0
8   9.0    4.0        4.0
9   6.0    4.0        4.0
10  9.0    4.0        5.0
11  5.0    4.0        4.0
12  5.0    4.0        4.0
13  3.0    4.0        4.0
14  5.0    5.0        4.0